<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>비밀번호 변경</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5>변경하실 비밀번호를 입력해 주세요.</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/member/changePassword}" th:object="${passwordForm}" method="post">
                        <div class="mb-3" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="oldPassword" th:field="*{oldPassword}" placeholder="현재 비밀번호" required>
                            <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <div>
                                <input type="password" class="form-control" name="newPassword" th:field="*{newPassword}" placeholder="새 비밀번호" required>
                                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Incorrect date</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>
                                <input type="password" class="form-control" name="checkNewPassword" th:field="*{checkNewPassword}" placeholder="새 비밀번호 확인" required>
                                <p th:if="${#fields.hasErrors('checkNewPassword')}" th:errors="*{checkNewPassword}">Incorrect date</p>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block mb-2">비밀번호 변경</button>
                            <button type="button" class="btn btn-primary btn-block" onclick="location.href='/member/info';">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>