<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>join</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>비밀번호 변경</h1>
<h4>변경하실 비밀번호를 입력해 주세요.</h4>
<form th:action="@{/member/changePassword}" th:object="${passwordForm}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
        <input type="password" name="oldPassword" th:field="*{oldPassword}" placeholder="현재 비밀번호">
        <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Incorrect date</p>
    </div>
    <div>
        <div>
            <input type="password" name="newPassword" th:field="*{newPassword}" placeholder="새 비밀번호">
            <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Incorrect date</p>
        </div>
    </div>
    <div>
        <div>
            <input type="password" name="checkNewPassword" th:field="*{checkNewPassword}" placeholder="새 비밀번호 확인">
            <p th:if="${#fields.hasErrors('checkNewPassword')}" th:errors="*{checkNewPassword}">Incorrect date</p>
        </div>
    </div>
    <button type="submit">비밀번호 변경</button>
    <button type="button" onclick="location.href='/';">취소</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>