<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>회원가입</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2>회원가입</h2>
                </div>
                <div class="card-body">
                    <form id="joinForm" th:action="@{/member/join}" th:object="${joinForm}" method="post">
                        <div class="mb-3" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="id" aria-describedby="validationServerFeedback1 validationServerFeedback2" name="loginId" th:field="*{loginId}" oninput="checkId()" placeholder="아이디 입력" required>
                            <div id="validationServerFeedback1" class="valid-feedback">
                                사용 가능한 아이디입니다.
                            </div>
                            <div id="validationServerFeedback2" class="invalid-feedback">
                                누군가 이 아이디를 사용하고 있어요.
                            </div>
                            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="비밀번호 입력" required>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="name" th:field="*{name}" placeholder="이름 입력" required>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="이메일 입력" required>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="telephone" th:field="*{telephone}" placeholder="전화번호 입력" required>
                            <p th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Incorrect date</p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">가입하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    function checkId(){
        var id = $('#id').val();
    $.ajax({
        url:'/member/join/checkId',
        type:'post',
        data:{id:id},
        success:function(isDuplicate){
            if(isDuplicate == true){
                $('#joinForm').addClass("was-validation");
                $('#id').removeClass("is-valid");
                $('#id').addClass("is-invalid");
            } else {
                $('#joinForm').addClass("was-validation");
                $('#id').removeClass("is-invalid");
                $('#id').addClass("is-valid");
            }
        },
        error:function(){
            alert("에러입니다");
        }
    });
    };
</script>
</body>
</html>