<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>로그인</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="mb-5">로그인</h3>
                    <form th:action="@{/member/login}" th:object="${loginForm}" method="post">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="loginId" class="form-control" th:field="*{loginId}" placeholder="아이디 입력" required>
                            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="비밀번호 입력" required>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block mb-2">로그인</button>
                            <button type="button" class="btn btn-primary mb-2" onclick="location.href='/member/join';">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
