<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>login</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<form th:action="@{/member/login}" th:object="${loginForm}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
        <input type="text" name="loginId" th:field="*{loginId}" placeholder="아이디 입력">
        <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
    </div>
    <div>
        <input type="password" name="password" th:field="*{password}" placeholder="비밀번호 입력">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
    </div>
    <button type="submit">로그인</button>
</form>
<hr>
<button style="display: block; margin : auto;" type="button" onclick="location.href='/member/join';">회원가입</button>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
