<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>memberUpdate</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">회원 정보 수정</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/member/update}" th:object="${updateForm}" method="post">
                        <div class="mb-3" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:for="name">이름</label>
                            <input type="text" class="form-control" name="name" th:field="*{name}" placeholder="이름 입력" required>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:for="email">이메일</label>
                            <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="이메일 입력" required>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:for="telephone">전화번호</label>
                            <input type="text" class="form-control" name="telephone" th:field="*{telephone}" placeholder="전화번호 입력" required>
                            <p th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Incorrect date</p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark mb-2">수정</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='/member/info';">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>