<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>join</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>회원 정보 수정</h1>

<form th:action="@{/member/update}" th:object="${updateForm}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
        <label th:for="name">이름</label>
        <input type="text" name="name" th:field="*{name}" placeholder="이름 입력">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
    </div>
    <div>
        <label th:for="email">이메일</label>
        <input type="email" name="email" th:field="*{email}" placeholder="이메일 입력">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
    </div>
    <div>
        <label th:for="telephone">전화번호</label>
        <input type="text" name="telephone" th:field="*{telephone}" placeholder="전화번호 입력">
        <p th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Incorrect date</p>
    </div>
    <button type="submit">수정</button>
</form>
<hr>
<button style="display: block; margin : auto;" type="button" onclick="location.href='/member/withdraw';">회원 탈퇴</button>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>