<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>회원 탈퇴</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>정말 탈퇴하시겠습니까?</h3>
                    <h5>아이디, 비밀번호를 입력하면 회원 탈퇴가 진행됩니다.</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/member/withdraw}" th:object="${loginForm}" method="post">
                        <div class="mb-3" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="loginId" th:field="*{loginId}" placeholder="아이디 입력" required>
                            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <div>
                                <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="비밀번호 입력" required>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                            </div>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block mb-2">회원 탈퇴</button>
                            <button type="button" class="btn btn-primary btn-block" onclick="location.href='/member/info';">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>