<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>reserve</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="fragments/navbar :: navbar"></nav>

    <div style="padding: 10px; text-align: center;">
        <h3><a style="text-decoration: none;">예약</a></h3>
    </div>

    <div class="container">
        <form th:action="@{/reserve}" method="post" id="reserveForm">
                    <div class="card " style="height: 100px; text-align: center; width: 900px; margin: auto;">
                        <div class="d-flex justify-content-around" style="margin-block: auto;">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <label class="card-text" for="checkIn">체크인</label>
                                <input class="card-text" type="date" id="checkIn" name="checkIn" onchange="changeCheckIn(this)" required="required">
                            </div>
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <label class="card-text" for="checkOut">체크아웃</label>
                                <input class="card-text" type="date" id="checkOut" name="checkOut" required="required">
                            </div>
                            <div class="d-flex flex-column bd-highlight mb-3">
                            <label class="card-text" for="personnel">인원</label>
                            <select class="form-select" id="personnel" name="personnel" required="required" style="width: 85px; height: fit-content; margin-block: auto;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            </div>
                            <input type="hidden" id="roomNo" name="roomNo">
                            <input type="hidden" id="reservePrice" name="reservePrice">
                            <input class="btn btn-dark" type="button" value="조회" style="align-self: center;" onclick="searchRoom()">
                        </div>
                    </div>

            <div class="row row-cols-1 row-cols-md-2 g-4" id="roomContent" style="flex-direction: column; align-content: center; margin-top: 50px;">
                <div class="col" id="A101" style="width: 930px;">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_tw.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A101</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 스탠다드 트윈룸은 단기 체류 관광객 및 출입이 잦은
                                        <br>
                                        비즈니스 고객을 위해 적합하게 설계된 객실입니다. 고객 한분 한분에게
                                        <br>
                                        최선의 서비스로 고객의 편리함을 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A101price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A101')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A102" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_tw.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A102</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 스탠다드 트윈룸은 단기 체류 관광객 및 출입이 잦은
                                        <br>
                                        비즈니스 고객을 위해 적합하게 설계된 객실입니다. 고객 한분 한분에게
                                        <br>
                                        최선의 서비스로 고객의 편리함을 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A102price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A102')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A103" style="width: 930px;">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_tw.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A103</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 스탠다드 트윈룸은 단기 체류 관광객 및 출입이 잦은
                                        <br>
                                        비즈니스 고객을 위해 적합하게 설계된 객실입니다. 고객 한분 한분에게
                                        <br>
                                        최선의 서비스로 고객의 편리함을 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A103price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A103')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A104" style="width: 930px;">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/hotel_tw.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A104</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 스탠다드 트윈룸은 단기 체류 관광객 및 출입이 잦은
                                        <br>
                                        비즈니스 고객을 위해 적합하게 설계된 객실입니다. 고객 한분 한분에게
                                        <br>
                                        최선의 서비스로 고객의 편리함을 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A104price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A104')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A201" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/hotel_dd.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A201</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 디럭스 더블룸은 보다 차별화된 서비스를 원하시는
                                        <br>
                                        비즈니스맨 및 관광객을 위해 디자인된 객실입니다.
                                        <br>
                                        최고 수준의 편리함과 품격, 세련미를 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A201price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A201')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A202" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_dd.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A202</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 디럭스 더블룸은 보다 차별화된 서비스를 원하시는
                                        <br>
                                        비즈니스맨 및 관광객을 위해 디자인된 객실입니다.
                                        <br>
                                        최고 수준의 편리함과 품격, 세련미를 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A202price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A202')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A203" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_dd.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A203</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 디럭스 더블룸은 보다 차별화된 서비스를 원하시는
                                        <br>
                                        비즈니스맨 및 관광객을 위해 디자인된 객실입니다.
                                        <br>
                                        최고 수준의 편리함과 품격, 세련미를 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A203price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A203')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A204" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_dd.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A204</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 디럭스 더블룸은 보다 차별화된 서비스를 원하시는
                                        <br>
                                        비즈니스맨 및 관광객을 위해 디자인된 객실입니다.
                                        <br>
                                        최고 수준의 편리함과 품격, 세련미를 느낄 수 있게 마련되어 있습니다.</p>
                                    <p class="card-text" id="A204price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A204')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A301" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_sj.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A301</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 주니어 스위트룸은 우아한 인테리어로 고급스러운
                                        <br>
                                        실내분위기를 자랑하는 객실입니다. 철저한 보안시스템 및 개별 냉난방
                                        <br>
                                        시설을 완비하고 있어 사시사철 불편함이 없이 이용하실수 있습니다.</p>
                                    <p class="card-text" id="A301price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A301')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A302" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_sj.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A302</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 주니어 스위트룸은 우아한 인테리어로 고급스러운
                                        <br>
                                        실내분위기를 자랑하는 객실입니다. 철저한 보안시스템 및 개별 냉난방
                                        <br>
                                        시설을 완비하고 있어 사시사철 불편함이 없이 이용하실수 있습니다.</p>
                                    <p class="card-text" id="A302price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A302')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A303" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_sj.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A303</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 주니어 스위트룸은 우아한 인테리어로 고급스러운
                                        <br>
                                        실내분위기를 자랑하는 객실입니다. 철저한 보안시스템 및 개별 냉난방
                                        <br>
                                        시설을 완비하고 있어 사시사철 불편함이 없이 이용하실수 있습니다.</p>
                                    <p class="card-text" id="A303price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A303')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A304" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_sj.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A304</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 주니어 스위트룸은 우아한 인테리어로 고급스러운
                                        <br>
                                        실내분위기를 자랑하는 객실입니다. 철저한 보안시스템 및 개별 냉난방
                                        <br>
                                        시설을 완비하고 있어 사시사철 불편함이 없이 이용하실수 있습니다.</p>
                                    <p class="card-text" id="A304price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A304')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A401" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_vip.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A401</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 로얄 스위트룸은 VIP전용 객실로서 은은한 원목가구풍의
                                        <br>
                                        색으로 일관성있는 실내분위기를 자랑하며 또한 침실과 응접실이
                                        <br>
                                        분리가 되어 있어서 손님 초대 및 소규모 회의에도 손색이 없는 객실입니다.</p>
                                    <p class="card-text" id="A401price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A401')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A402" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_vip.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A402</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 로얄 스위트룸은 VIP전용 객실로서 은은한 원목가구풍의
                                        <br>
                                        색으로 일관성있는 실내분위기를 자랑하며 또한 침실과 응접실이
                                        <br>
                                        분리가 되어 있어서 손님 초대 및 소규모 회의에도 손색이 없는 객실입니다.</p>
                                    <p class="card-text" id="A402price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A402')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A403" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_vip.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A403</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 로얄 스위트룸은 VIP전용 객실로서 은은한 원목가구풍의
                                        <br>
                                        색으로 일관성있는 실내분위기를 자랑하며 또한 침실과 응접실이
                                        <br>
                                        분리가 되어 있어서 손님 초대 및 소규모 회의에도 손색이 없는 객실입니다.</p>
                                    <p class="card-text" id="A403price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A403')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="A404" style="width: 930px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                <img src="/img/hotel_vip.jpg" height="250" width="300"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A404</h5>
                                    <p class="card-text" style="line-height: 2;">
                                        kyungsungHotel의 로얄 스위트룸은 VIP전용 객실로서 은은한 원목가구풍의
                                        <br>
                                        색으로 일관성있는 실내분위기를 자랑하며 또한 침실과 응접실이
                                        <br>
                                        분리가 되어 있어서 손님 초대 및 소규모 회의에도 손색이 없는 객실입니다.</p>
                                    <p class="card-text" id="A404price"></p>
                                    <div style="float: right; margin-right: 40px;">
                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A404')">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col" id="A501" style="width: 930px;">-->
<!--                    <div class="card mb-3">-->
<!--                        <div class="row g-0">-->
<!--                            <div class="col-md-4" >-->
<!--                                <img src="img/hotelView1.jpg" height="300" width="300"/>-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">A501</h5>-->
<!--                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                    <p class="card-text" id="A501price"></p>-->
<!--                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A501')">예약하기</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col" id="A502" style="width: 930px;">-->
<!--                    <div class="card mb-3">-->
<!--                        <div class="row g-0">-->
<!--                            <div class="col-md-4" >-->
<!--                                <img src="img/hotelView1.jpg" height="300" width="300"/>-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">A502</h5>-->
<!--                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                    <p class="card-text" id="A502price"></p>-->
<!--                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A502')">예약하기</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col" id="A503" style="width: 930px;">-->
<!--                    <div class="card mb-3">-->
<!--                        <div class="row g-0">-->
<!--                            <div class="col-md-4" >-->
<!--                                <img src="img/hotelView1.jpg" height="300" width="300"/>-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">A503</h5>-->
<!--                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                    <p class="card-text" id="A503price"></p>-->
<!--                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A503')">예약하기</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col" id="A504" style="width: 930px;">-->
<!--                    <div class="card mb-3">-->
<!--                        <div class="row g-0">-->
<!--                            <div class="col-md-4" >-->
<!--                                <img src="img/hotelView1.jpg" height="300" width="300"/>-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">A504</h5>-->
<!--                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                    <p class="card-text" id="A504price"></p>-->
<!--                                    <button class="btn btn-outline-dark" style="align-self: center;" onclick="reserve('A504')">예약하기</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </form>
    </div>
    <br><br><br>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
    let yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("checkIn").setAttribute("value", today);
    document.getElementById("checkIn").setAttribute("min", today);

    let tomorrow = yyyy+'-'+mm+'-'+(dd+1);
    document.getElementById("checkOut").setAttribute("value", tomorrow);
    document.getElementById("checkOut").setAttribute("min", tomorrow);

    $('#roomContent *').hide();

    function changeCheckIn(obj) {
        var checkOutMin = new Date(obj.value);
        checkOutMin.setDate(checkOutMin.getDate()+1);
        checkOutMin = checkOutMin.getFullYear() + '-' + ("0" + (checkOutMin.getMonth() + 1)).slice(-2) + '-' + ("0" + checkOutMin.getDate()).slice(-2);
        document.getElementById("checkOut").setAttribute("value", checkOutMin);
        document.getElementById("checkOut").setAttribute("min", checkOutMin);
    }
    
    function reserve(roomNo) {
        document.getElementById("roomNo").setAttribute("value", roomNo);

        var reservePrice = $("#" + roomNo + "price").text();
        document.getElementById("reservePrice").setAttribute("value", reservePrice);

        // if(reservePrice == ""){
        //     alert("조회를 먼저 해주세요");
        //     return false;
        // }
        // else{
            document.getElementById("reserveForm").submit();
        // }
    }

    function searchRoom() {
        $('#roomContent *').hide();
        var checkIn = $('#checkIn').val();
        var checkOut = $('#checkOut').val();
        var personnel = $('#personnel').val();
        var reservePrice = 0;
        var stDate = new Date(checkIn);
        var endDate = new Date(checkOut);
        var day = (endDate.getTime() - stDate.getTime()) / (1000*60*60*24);
        $.ajax({
            url:'/reserve/searchRoom',
            type:'get',
            data:{checkIn:checkIn, checkOut:checkOut},
            success:function(rooms){
                $(rooms).each(function() {
                    $("#" + this.roomNo).show();
                    $("#" + this.roomNo + " *").show();
                    reservePrice = this.price;
                    if (personnel > 1){
                        reservePrice += (personnel -1) * 20000;
                    }
                    reservePrice *= day;

                    $("#" + this.roomNo + "price").text(reservePrice);
                    // $('#roomContent').append($('<label><input type="radio" name="roomNo" required="required" value="' + this.roomNo + '">' + this.roomNo + '</label>'));
                });
            },
            error:function(){
                alert("에러입니다");
            }
        });
    }
</script>
</body>
</html>