<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>board</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div style="padding: 10px; text-align: center;">
    <h1><a style="text-decoration: none;">예약 상세 페이지</a></h1>
</div>

<div>
    <div>
        <div>
            <label style="font-weight: bolder;">체크인</label>
            <p th:text="${reserve.checkIn}"></p>
        </div>
        <div>
            <label style="font-weight: bolder;">체크아웃</label>
            <p th:text="${reserve.checkOut}"></p>
        </div>
        <div>
            <label style="font-weight: bolder;">예약자</label>
            <p th:text="${reserve.name}"></p>
        </div>
        <div>
            <label style="font-weight: bolder;">객실</label>
            <p th:text="${reserve.roomNo}"></p>
        </div>

        <div style="text-align: right;">
            <button type="button" onclick="location.href='/member/info';" >마이페이지</button>
            <button type="button" th:onclick="|location.href='@{/reserve/reserveDelete/{id}(id=${reserve.getId()})}'|">예약 취소</button>

        </div>

    </div>
</div>
<br/><br/><br/>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>