<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>board</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div>

    <div style="padding: 10px; text-align: center;">
        <h1><a style="text-decoration: none;">고객센터</a></h1>
    </div>
    <div>
        <table>
            <thead style="text-align: center;">
            <tr>
                <th style="text-align: center;">순서</th>
                <th style="text-align: center;">작성자</th>
                <th style="text-align: center;">제목</th>
                <th style="text-align: center;">작성일</th>
            </tr>
            </thead>
            <tr th:each="board : ${boards}">
                <td th:text="${board.boardNo}"></td>
                <td th:text="${board.writer}"></td>
                <td style="cursor: pointer; text-align: center;"><a th:href="@{/board/{boardNo}(boardNo=${board.boardNo})}" th:text="${board.title}"></a></td>
                <td th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>

    <form class="search" method="get" th:action="@{/board/list}">
        <div class="search box">
            <input type="text" class="box" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <div class="search button">
            <button type="submit" class="button">검색</button>
        </div>
    </form>

    <a th:if="${nowPage > 1}" th:href="@{/board/list(page=0, searchText=${param.searchText})}">&laquo;</a>
    <a th:if="${nowPage > 1}" th:href="@{/board/list(page=${nowPage} -2, searchText=${param.searchText})}">&lsaquo;</a>

    <th:block th:if="${nowPage <= 6}" th:each ="i : ${#numbers.sequence(1, 10)}">
        <a th:if="${i != nowPage}" th:href="@{/board/list(page = ${i - 1}, searchText=${param.searchText})}" th:text="${i}"></a>
        <strong th:if="${i == nowPage}"  th:text="${i}"></strong>
    </th:block>

    <th:block th:if="${nowPage > 6}" th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchText=${param.searchText})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}"  th:text="${page}"></strong>
    </th:block>

    <a th:if="${nowPage < totalPage}" th:href="@{/board/list(page=${nowPage}, searchText=${param.searchText})}">&rsaquo;</a>
    <a th:if="${nowPage < totalPage}" th:href="@{/board/list(page=${totalPage - 1}, searchText=${param.searchText})}">&raquo;</a>


    <div th:if ="${session.loginMember != null}"; style="text-align: right">
        <button onclick="location.href='/board/post'">글작성</button>
    </div>

    <br/><br/><br/>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>