<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>postUpdate</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="fragments/navbar :: navbar"></nav>

    <div style="padding: 10px; text-align: center;">
        <h3><a style="text-decoration: none;">게시글수정</a></h3>
    </div>

    <div class="container-sm" style="width: 900px;">
        <form role="form" th:object="${postUpdate}" th:action="@{/board/postUpdate/{boardNo}(boardNo=${postUpdate.boardNo})}"
              method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">수정할 제목</label>
                <input type="text" class="form-control"  th:field="*{title}" id="title"
                       placeholder="수정할 제목을 입력하세요" required="required">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">수정할 내용</label>
                <div class="d-flex" style="height: 400px;">
                    <textarea class="form-control" style="white-space: pre-line;" th:field="*{content}" id="content" rows="3"
                              placeholder="수정할 내용을 입력하세요" required="required"></textarea>
                </div>
            </div>

            <div style="text-align: right;">
                <input type="button" class="btn btn-outline-secondary" th:value="목록" onclick="location.href='/board/list';" >
                <button type="submit" class="btn btn-dark">수정</button>
            </div>
        </form>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>