<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>board</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

    <div style="padding: 10px; text-align: center;">
        <h1><a  style="text-decoration: none;">게시글작성</a></h1>
    </div>
    <div class="container-sm">
        <form role="form" th:object="${postForm}" th:action="@{/board/post}"
              method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control"  th:field="*{title}" id="title"
                       placeholder="제목을 입력하세요" required="required">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <div class="d-flex" style="height: 400px;">
                    <textarea class="form-control" style="white-space: pre-line;" th:field="*{content}" id="content"  rows="3"
                       placeholder="내용을 입력하세요" required="required"></textarea>
                </div>
            </div>

            <div style="text-align: right;">
                <input type="button" class="btn btn-primary" th:value="목록" onclick="location.href='/board/list';" >
                <input type="submit" class="btn btn-primary" th:value="작성">
            </div>
        </form>
    </div>
    <br/><br/><br/>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>