<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>postUpdate</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div>
    <div style="padding: 10px; text-align: center;">
        <h1><a style="text-decoration: none;">게시글수정</a></h1>
    </div>

    <div>
        <form role="form" th:object="${postUpdate}" th:action="@{/board/postUpdate/{boardNo}(boardNo=${postUpdate.boardNo})}"
              method="post" enctype="multipart/form-data">

            <div>
                <label for="title" style="font-weight: bolder;">제목</label>
                <input type="text" th:field="*{title}" id="title" name="title"
                       placeholder="수정할 제목을 입력하세요" required="required">
            </div>
            <div style="font-weight: bolder;">
                <label for="content">내용</label><br/>
                <textarea th:field="*{content}" id="content" name="content" rows="15" cols="50"
                          placeholder="수정할 내용을 입력하세요" required="required"></textarea>
            </div>


            <div style="text-align: right;">
                <input type="button" th:value="목록" onclick="location.href='/board/list';" >
                <button type="submit">수정</button>
            </div>
        </form>
    </div>
    <br/><br/><br/>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>