<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>KYUNGSUNG hotel</title>
    <LINK href="css/style.css" rel="stylesheet" type="text/css">
    <style>
        ul li {list-style-type: none;}
    </style>

</head>
<body>
<style type="text/css">
    a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: black; text-decoration: underline;}
</style>


<div class="nav">
    <div class="logo">
        <a href="/"><img src="img/ksui_2014_19_b.jpg" height="50" width="50"/></a>
    </div>

    <div class="title">
        <ul>
            <li><a href="#">KYUNG SUNG</a></li>
            <li><a href="#">예약</a></li>
            <li><a href="#">고객센터</a></li>
            <li><a href="#">로그인</a></li>
        </ul>
        <hr>
    </div>
</div>

<div class="intro">
                <span style=" font-weight: 545;font-size: 35px;">
                    <br>KYUNG SUNG IS ETERNAL JOURNEY</span>
    <br><br>
    경성호텔은 오늘도 새로운 여행을 준비하고 있습니다. <br>
    경성 고유의 철학 아래에 완전히 새로운 콘셉트의 경험을 만들어 냅니다.<br>
    우리가 지금껏 예상할 수 있었던 범주를 넘어선 독보적인 콘텐츠로<br>
    경성은 오늘도 변화하고 있습니다.<br>
    <br><br><br>
</div>

<div class="main img" style="padding: 0 50px; text-align: center; margin-bottom: 100px">
    <img src="img/cv_salon.jpg" height="927" width="1440"/>
</div>

<div class="video" style="padding:100px 50px 50px;">
    <div class="youtube" style="margin-top: 0; margin-bottom: 0; width: 30%;float: left">
        <iframe width="1180" height="720" src="https://www.youtube.com/embed/Uj-grGgMNqk?rel=0"
                allowfullscreen></iframe>
    </div>

    <div class="slo">
        <p style="text-align: center;  font-weight: 300; font-size: 20px; padding: 30px; float: right; margin-right: 60px">
            <br>
            <span style=" font-weight: 500;font-size: 25px;">
                        외국보다 더 라이브한 오후 12시 <br>
                        이터널저니 남해<br>
                        @ 경성호텔
                        </span>
            <br><br>
            이터널저니의 하루는 <br>
            누구보다도 일찍 시작합니다.<br>
            <br>
            가장 신선한 재료에 대한 고집.<br>
            가장 풍성한 맛을 향한 정성.<br>
            <br>
            우리는 테이블에서 <br>
            바다를 만나게 됩니다.
        </p>
    </div> <div style="clear:both; margin-bottom: 100px;"></div>
</div>

<footer style="font-weight: 300; font-size: 15px; text-align: center">
    <nav>
        <hr><br><a href='https://github.com/hunbk/First-Project' target='_blank'>
        <img src="https://img.icons8.com/material-outlined/24/000000/github.png"/></a>
    </nav>
    <span>대표 : 김병훈, 박대준</span><br/>
    <span>이메일 : qwe@naver.com</span><br/>
    <span>Copyright 2022. ptbh. All Rights Reserved.</span>
</footer>
</body>
</html>